html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.container {
    max-width: 1440px;
    background: #FFF;
    margin: 100px auto;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

header {
    background: white;
    width: 100%;
    padding: 50px;
}

section {
    background: hsl(179, 62%, 43%);
    color: white;
    padding: 50px;
    padding-bottom: 59px;
    float: left;
    width: 50%;
}

aside {
    background: hsl(179, 62%, 48%);
    color: white;
    padding: 50px;
    width: 50%;
    float: left;
}

aside ul {
    list-style-type:none;
    margin-left: -40px;
}

button {
    font-size: 16px;
    margin-top: 20px;
    background: hsl(71, 73%, 54%);
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    height: 50px;
    width: 240px;
    color: #FFF;
}





/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:
Cyan: hsl(179, 62%, 43%)
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700

*/